body {
  background: #FFFFFF;
  color: #000000;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  background: lightblue;
}

.nav-left {
  position: fixed;
  left: 0;
  top: 0;
  width: 50%;
  text-align: left;
  background: lightblue;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: lightblue;
}

.nav-right {
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  text-align: right;
  background: lightblue;
}
