/* General Website Styling */
body {
  margin: 0;
  padding: 0;
  background: #202020;
  font-family: 'Roboto', sans-serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  background: #202020;
}

/* Social Icons */
.fas {
  color: #ffffff;
  padding: 0px 5px 0px 5px;
}

.fas:hover {
  opacity: 0.8;
  color: #7703fc;
  cursor: pointer;
}

.fab {
  color: #ffffff;
  padding: 0px 5px 0px 5px;
}

.fab:hover {
  opacity: 0.8;
  color: #7703fc;
  cursor: pointer;
}

/* Centered Name & TypeScript */
.header-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  color: #ffffff;
}

/* Logo */
.luxbar-brand:hover {
  opacity: 0.8;
  color: #7703fc;
  cursor: pointer;
}
